In [1]:
import pandas as pd
import numpy as np
import joblib
from sklearn.neighbors import NearestNeighbors
import warnings
warnings.simplefilter("ignore")

In [2]:
resnet_features = joblib.load("data/features/resnet50_img_feature_extracts")

In [3]:
df = pd.DataFrame(resnet_features).T
df.head()

,0,1,2,3,4,5,6,7,8,9,...,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047
10054,0.004822,0.144150,0.031204,0.000000,0.004301,0.000019,0.002483,0.015938,0.010855,0.000000,...,0.016611,0.011943,0.000000,0.009416,0.033631,0.011974,0.021985,0.000000,0.001282,0.049410
10649,0.012840,0.098279,0.013607,0.008237,0.040412,0.002203,0.005286,0.008135,0.005145,0.000000,...,0.011077,0.017751,0.007092,0.005914,0.009170,0.000000,0.010627,0.026813,0.028479,0.071262
10671,0.003626,0.033125,0.024222,0.000000,0.008788,0.020936,0.050523,0.033338,0.003564,0.000832,...,0.013250,0.012126,0.000000,0.004631,0.022095,0.028512,0.026643,0.000000,0.023228,0.040803
12840,0.000000,0.046459,0.046124,0.005066,0.001804,0.000000,0.033073,0.008610,0.020597,0.015813,...,0.002286,0.016464,0.008145,0.001082,0.009643,0.017075,0.048096,0.007459,0.000000,0.026598
12844,0.000000,0.107810,0.005406,0.000000,0.000000,0.000000,0.013862,0.008633,0.000000,0.020792,...,0.016469,0.015900,0.008430,0.000000,0.009285,0.000000,0.048618,0.000000,0.000000,0.028155

In [4]:
df.columns = [f"feature_{x}" for x in range(df.shape[1])]

In [5]:
df.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_2038,feature_2039,feature_2040,feature_2041,feature_2042,feature_2043,feature_2044,feature_2045,feature_2046,feature_2047
10054,0.004822,0.144150,0.031204,0.000000,0.004301,0.000019,0.002483,0.015938,0.010855,0.000000,...,0.016611,0.011943,0.000000,0.009416,0.033631,0.011974,0.021985,0.000000,0.001282,0.049410
10649,0.012840,0.098279,0.013607,0.008237,0.040412,0.002203,0.005286,0.008135,0.005145,0.000000,...,0.011077,0.017751,0.007092,0.005914,0.009170,0.000000,0.010627,0.026813,0.028479,0.071262
10671,0.003626,0.033125,0.024222,0.000000,0.008788,0.020936,0.050523,0.033338,0.003564,0.000832,...,0.013250,0.012126,0.000000,0.004631,0.022095,0.028512,0.026643,0.000000,0.023228,0.040803
12840,0.000000,0.046459,0.046124,0.005066,0.001804,0.000000,0.033073,0.008610,0.020597,0.015813,...,0.002286,0.016464,0.008145,0.001082,0.009643,0.017075,0.048096,0.007459,0.000000,0.026598
12844,0.000000,0.107810,0.005406,0.000000,0.000000,0.000000,0.013862,0.008633,0.000000,0.020792,...,0.016469,0.015900,0.008430,0.000000,0.009285,0.000000,0.048618,0.000000,0.000000,0.028155

In [6]:
model = NearestNeighbors(n_neighbors=5).fit(df)
distances, indices = model.kneighbors(df)

In [7]:
df_neigh = pd.DataFrame(distances)
df_neigh.columns = [f"neigh_{x}" for x in range(df_neigh.shape[1])]
df_neigh.head()

        neigh_0   neigh_1   neigh_2   neigh_3   neigh_4
0  2.980232e-08  0.763591  0.763591  0.782614  0.782614
1  0.000000e+00  0.641115  0.641115  0.641115  0.669407
2  0.000000e+00  0.831890  0.835097  0.871297  0.884696
3  2.107342e-08  0.791580  0.798639  0.801750  0.805780
4  0.000000e+00  0.610798  0.656262  0.699493  0.713763

In [8]:
df_img_name = pd.DataFrame(indices)
df_img_name.columns = [f"image_name_{x}" for x in range(df_img_name.shape[1])]
df_img_name.head()

   image_name_0  image_name_1  image_name_2  image_name_3  image_name_4
0             0           471           155           505           504
1             1           204            95           203           129
2             2          1429          1773           348          1651
3             3           527             4           528          1694
4             4          1694           527             6          1454

In [9]:
joblib.dump(model,"data/models/knn_model")
joblib.dump(df,"data/models/knn_data")

['data/models/knn_data']